html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
  text-align: center;
  color: #444;
  background-color: #FCFAF8;
}

.container {
  width: 500px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  color: #444;
}

h2 {
  float: left;
}
h2:last-child {
  float: right;
}

canvas {
  position: relative !important;
  width: 500px;
  height: 600px;
}
